:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}

.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  font-weight: 600;
  background: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

.link {
  color: var(--color-primary-light);
  line-height: 1.5;
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
  text-decoration: underline;
  font-weight: 600;
}

/* Hero section */
.hero-section {
  padding: 272px 0;
}

.hero-title {
  margin-bottom: 0;
  color: var(--color-primary-light);
  font-family: Poppins, sans-serif;
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* Advantages section */
.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}

.advantages-item {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* traditions section */
.traditions-section {
  padding-top: 96px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  text-transform: none;
  color: var(--color-brand-light);
}

.traditions-text .brand-uppercase {
  text-transform: uppercase;
  color: var(--color-brand-light);
  font-weight: 600;
}

/* chefs section */
.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chefs-title {
  margin-bottom: 80px;
}

/* format section */
.formats-title {
  margin-bottom: 80px;
}

.format-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* contact section */
.contact-title {
  margin-bottom: 16px;
}

/* footer */
.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
.address-link:hover {
  color: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
  color: #a18268;
}
